.sidebar {
    width: 100%;


    @media screen and (min-width: 990px) {
        width: 25%;
        margin-bottom: 80px;
    }
}

.fotoservice {
    margin-top: 100px;
    margin-bottom: 80px;
}

.contentWrapper {
    @media screen and (min-width: 990px) {
        display: flex;
    }
}

.content {
    @media screen and (min-width: 990px) {
        margin-left: 20px;
        width: 75%;
    }
}

.map {
    width: 100%;
    height: 300px;

    @media screen and (min-width: 767px) {
        height: 400px;
    }
}

.rewiewShow {
    margin-bottom: 50px;
}
