
.weBetter {
    text-align: center;
    width: 100%;
}

.header {
    font-size: 24px;
    font-family: MuseoSans serif;
    font-weight: 700;
    text-align: center;
}

.item {
    margin: 50px 0;
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (min-width: 767px) {
        width: 25%;
        display: inline-block;
    }

    @media screen and (min-width: 1200px) {
        width: 16%;
        display: inline-block;
    }
}

.desc {

    font-size: 16px;
}