* {
    box-sizing: border-box;
  }

html, body, input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: $background_color;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
    height: 100%;
}

.disable-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.common_header {
    font-family: MuseoSans sans-serif;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 18px;
    color: $primary_color;
}

.common_title {
    color: $primary_color;
    margin-top: 50px;
}

.common_about {
    p {
        font-size: 15px;
        line-height: 1.6em;
        margin: 0 0 10px;
    }
}


.common_imageBlock {
    margin-left: -7.5px;
    img {
        display: inline-block;
        padding-right: 7.5px;
        padding-left: 7.5px;
        max-width: 350px;
        width: 33%;
    }
}

.common_video {
    height: 230px;
    max-width: 400px;
    margin: 0 auto;
}

.common_list {

    ul {
        list-style: circle;
    }

    li {
        font-family: inherit;
        margin: 5px 0;
        font-size: 15px;
        line-height: 1.6em;
    }
}

.common_link {
    font-family: "MuseoSansBold";
    color: #ff3a84;
    text-decoration: underline;
}
.std_table {
    td {
        padding: 5px 10px;
        border: 1px solid;
        font-size: 15px;
    }
}

.bold_text {
    font-weight: bold;
}