$primary_color: #ff3a84;
$secondary_color: #fceb54;

$backdrop_color: #fffabd;

$text_links_color: #ffffff;
$headers_text_color: #262622;
$secondary_text_color: #81817c;

$header_text_color: #ffffff;

$btn_shodow_one: 2px 3.464px 9px 0px rgba(155, 40, 83, 0.75);
$primary_btn_box_shadow_color: rgba(215, 54, 114, 0.7);
$secondary_btn_box_shadow_color:rgba(141, 144, 59, 0.39);
$primary_btn_text_color: #ffffff;


$help_color: #7e2c89;

$background_color: #fff7fa;

$btn_secondary_color: #ffe655;

$footer_background_color: #626262;

$ui_secondary_background: #fef0f5;